{#---------- Base extending ----------#}
{% extends 'todo/base.html' %}
{% load static %}

{#---------- Title ----------#}
{% block title %}
    Week {{ week.title }}
{% endblock %}

{#---------- Extra styles ----------#}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/week_show.css' %}">
{% endblock %}

{#---------- Content block ----------#}
{% block content %}
	<div class ="popup_background" id="{% if messages %}active_background{% endif %}" onclick="closePopup()"></div>
    <div class="wrapper">
		<section class="container">

            <!----- Header ----->
            <header>
                <h1>{{ week.title}}</h1>
                <div class="control_links">
                    <a class="header__links_element underlined" href="{% url 'week_list' %}">Week list</a>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="header__links_element underlined" type="submit">Logout</button>
                    </form>
                </div>
            </header>

            <!----- Head line ----->
			<div class="headline">
				<div class="day">MN</div>
				<div class="day">TS</div>
				<div class="day">WD</div>
				<div class="day">TH</div>
				<div class="day">FR</div>
				<div class="day">ST</div>
				<div class="day">SD</div>
				<div class="gap"></div>
				<div class="headline-title">Todos</div>
			</div>
			<hr>

			<!----- Lines ----->
            {% for todo in todo_list %}
                <div class="line">
                    <div class="img-wrapper"><img src="/static/images/{{ todo.md }}.svg" alt=""></div>
                    <div class="img-wrapper"><img src="/static/images/{{ todo.td }}.svg" alt=""></div>
                    <div class="img-wrapper"><img src="/static/images/{{ todo.wd }}.svg" alt=""></div>
                    <div class="img-wrapper"><img src="/static/images/{{ todo.th }}.svg" alt=""></div>
                    <div class="img-wrapper"><img src="/static/images/{{ todo.fr }}.svg" alt=""></div>
                    <div class="img-wrapper"><img src="/static/images/{{ todo.st }}.svg" alt=""></div>
                    <div class="img-wrapper"><img src="/static/images/{{ todo.sd }}.svg" alt=""></div>
                    <div class="gap"></div>
                    <div class="line__title">{{ todo.title|truncatechars:27}}</div>
                    <div class="line__edit" onclick="editTodo({{ todo.id }})"></div>

                    <!----- Todo editing popup ----->
                    <div class ="editing_popup--{{ todo.id }} popup" id="">
                        <div class="popup__close" onclick="closePopup()"><img src="{% static 'images/more.svg' %}" alt=""></div>
                        <h2>Edit a todo</h2>
                        <div class="headline">
                            <div class="day">MN</div>
                            <div class="day">TS</div>
                            <div class="day">WD</div>
                            <div class="day">TH</div>
                            <div class="day">FR</div>
                            <div class="day">ST</div>
                            <div class="day">SD</div>
                            <div class="gap"></div>
                            <div class="headline-title">Todos</div>
                        </div>
                        <form method="POST" action="{% url 'todo_edit' week.id todo.id %}">
                            {% csrf_token %}
                            <input id="input_day--{{ todo.id }}--0" type="hidden" name="md" required="" value="{{ todo.md }}">
                            <input id="input_day--{{ todo.id }}--1" type="hidden" name="td" required="" value="{{ todo.td }}">
                            <input id="input_day--{{ todo.id }}--2" type="hidden" name="wd" required="" value="{{ todo.wd }}">
                            <input id="input_day--{{ todo.id }}--3" type="hidden" name="th" required="" value="{{ todo.th }}">
                            <input id="input_day--{{ todo.id }}--4" type="hidden" name="fr" required="" value="{{ todo.fr }}">
                            <input id="input_day--{{ todo.id }}--5" type="hidden" name="st" required="" value="{{ todo.st }}">
                            <input id="input_day--{{ todo.id }}--6" type="hidden" name="sd" required="" value="{{ todo.sd }}">
                            <div class="line">
                                <div class="img-wrapper" onclick="editDay({{ todo.id }}, 0)"><img id="img_day--{{ todo.id }}--0" src="/static/images/{{ todo.md }}.svg" alt=""></div>
                                <div class="img-wrapper" onclick="editDay({{ todo.id }}, 1)"><img id="img_day--{{ todo.id }}--1" src="/static/images/{{ todo.td }}.svg" alt=""></div>
                                <div class="img-wrapper" onclick="editDay({{ todo.id }}, 2)"><img id="img_day--{{ todo.id }}--2" src="/static/images/{{ todo.wd }}.svg" alt=""></div>
                                <div class="img-wrapper" onclick="editDay({{ todo.id }}, 3)"><img id="img_day--{{ todo.id }}--3" src="/static/images/{{ todo.th }}.svg" alt=""></div>
                                <div class="img-wrapper" onclick="editDay({{ todo.id }}, 4)"><img id="img_day--{{ todo.id }}--4" src="/static/images/{{ todo.fr }}.svg" alt=""></div>
                                <div class="img-wrapper" onclick="editDay({{ todo.id }}, 5)"><img id="img_day--{{ todo.id }}--5" src="/static/images/{{ todo.st }}.svg" alt=""></div>
                                <div class="img-wrapper" onclick="editDay({{ todo.id }}, 6)"><img id="img_day--{{ todo.id }}--6" src="/static/images/{{ todo.sd }}.svg" alt=""></div>
                                <div class="gap"></div>
                                <input type="text" name="title" required="" value="{{ todo.title }}">
                            </div>
                            <button class="usual_button" type="submit">Save</button>
                        </form>
                        <form method="POST" action="{% url 'todo_delete' week.id todo.id %}">
                            {% csrf_token %}
                            <button class="usual_button" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}

            <!----- Todo addition line ----->
            <div class="line">
                <span class="line__title"></span>
                <form class="create_todo" method="POST" action="{% url 'todo_create' week.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="week", value="{{ week.id }}" required="" id="wewewe">
                    <button type="submit" class="img-wrapper more">
                        <img src="{% static 'images/more.svg' %}" alt="">
                    </button>
                </form>
            </div>
		</section>
	</div>

    <!----- Error handling popup ----->
    {% if messages %}
        <div class ="error_popup popup" id="active_popup">
            <div class="popup__close" onclick="closePopup()"><img src="{% static 'images/more.svg' %}" alt=""></div>
            {% for message in messages %}
                <h2>{{ message }}</h2>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

