.wrapper{
    width: 320px !important;
}
.container{
    width: 300px !important;
}
label{
    display: block;
    margin-top: 10px;
}
input{
    width: 100%;
    padding: 2px;
    color: #575757;
}
button{
    margin-top: 10px;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
    transition: .4s;
}
button:hover{
    color: #94b49f;
    text-decoration: underline;
}